



.navbar { 
    z-index: 100;
    width: 100%;
    animation: fade-in 2s ;
    background: transparent;
    position: absolute;

}

@keyframes fade-in{ 
    0% {
        transform: translateY (-50px);
        opacity: 0;
      }
      100% {
        transform: translateY (0px);
        opacity: 1;
      }

}


.navbar h1, .navbar a{ 
    padding: 5px 0;
    color: white;
    font-family: 'Century Gothic';
    font-size: 20px;
    
}

.navbar a:hover{ 
    color: #FFFF; 
    background-color: rgba(0,0,0,0.2);
    border-radius:20%;
}


.background{ 

    position: relative; 
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.background::before{ 

    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;;
    left: 0;
    background: linear-gradient(to top, #22202d, transparent);
    z-index: 1000;

}
.background img#backgroundimage{ 
    filter: brightness(70%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; 
    left: 0; 
    object-fit: cover;
}


.welcome{ 
    width: 100%;
    animation: fade-in 1s;
    position: relative;
    top: 40px;
    z-index: 99999;
    color: #FFFF;
    font-family:"Cute 'n' Cuddly";
    letter-spacing: 2px;
    margin-bottom: 40px;

    
}

.welcome>img{ 
    display: block;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    animation: fade-in 1s, float 5s infinite;
}

@keyframes float{ 
    0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.welcome a{ 
    display:block;
    color: #FFFF;
    margin: 10px auto 10px auto;
    text-align: center;
    width: 150px;
    border: 2px solid #FFFF;
    padding: 30px 0px 30px 0px;
}


.welcome .btn:hover{ 

    transition: 0.6s;
    color:  black;
    background-color: #ffff;
    border: 2px solid transparent ;
}

/* <------- intro section end ---------> */



.main {
    background-color: #22202d;
    height: auto;
    transform: translateY(0);
}


/* <-----------values section start ------->  */
.values{ 
    height: 105vh;
    padding-top: 50px;
    margin-bottom: 100px;
}
.values header span{ 
    animation: blink 2s linear infinite;
}
.values header span:nth-of-type(2){
    animation: blink 3s linear infinite
}

@keyframes blink{ 
    78% {
        color: inherit;
        text-shadow: inherit;
      }
      79%{
         color: #333;
      }
      80% {
        
        text-shadow: none;
      }
      81% {
        color: inherit;
        text-shadow: inherit;
      }
      82% {
        color: #333;
        text-shadow: none;
      }
      83% {
        color: inherit;
        text-shadow: inherit;
      }
      92% {
        color: #333;
        text-shadow: none;
      }
      92.5% {
        color: inherit;
        text-shadow: inherit;
      }
}
.values h1 { 
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: "Tokyo-Outline";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 
                0 0 0.5em #ff4444, 0 0 0.1em #ff4444,
                0 10px 3px #000;
    font-size: 90px;
}

@media (max-width: 768px){ 
    .values h1{ 
        writing-mode:horizontal-tb; 
        text-orientation: normal;
        text-align: center;
    }

}

.values h3{
    padding-bottom: 10px;
    color: white;

}
.values p{
    color: white;
    padding-bottom: 10px;
    
}
.linebreak { 
    background-color: white; 
    width: 100%;
    height: 2px;
    margin: 10px 10px;
}


/* <-----------values section end ------->  */

/* <-----------personality section start ------->  */

.personality{ 
    position: relative;
    background-color: #22202d;
    width:100%;
    height: 350px;
    padding-top:50px;
}

.personality header h1{ 
    animation: fade-in 2s;
    position: relative;
    font-size: 60px;
    font-family: 'Tokyo-Outline';
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 
                0 0 0.5em #ff4444, 0 0 0.1em #ff4444,
                0 10px 3px #000;
    letter-spacing:2px;
    padding-top: 70px;
    margin-bottom: 70px;
    z-index: 99999;
}

.personality header h1 span{
    animation: blink 2s linear infinite;
}

.personality img#pphoto{ 
    z-index: 9;
    filter: brightness(50%);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0px; 
    left: 0; 
    object-fit: cover;
    
}

.personalitycontent{ 
    height: auto;
    padding-bottom: 10px;
    background-color: #22202d;
}

.personalitycontent p{ 
    padding: 10px 10px;
    color: white;
}

